<p id="notice"><%= notice %></p>

<h1>Listing Microposts</h1>

<div id="search">
  <%= form_tag(search_microposts_path, method: :get, role: "search", class: "search") do %>
    <%= text_field_tag :q, params[:q] %>
    <%= button_tag "search" %>
  <% end %>
</div>
<table id="microposts">
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td class="content"><%= micropost.content %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Micropost', new_micropost_path %>
